@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <!--Здесть делаем фильтр-->
</div>
@foreach (var el in ViewBag.Cars)
{
    <a class="row border shadow-lg mt-4 style-none" asp-controller="Car" asp-action="Card" asp-route-id="@el.Id">
        <div class="col-md-4">
            <img src="~/Car/GetPhoto?carId=@el.Id" class="img-fluid"/>
        </div>
        <div class="col-md-4">
            <ul class="list-unstyled">
                <li class="text-primary"><h3>@el.Model.Brand.Name @el.Model.Name</h3></li>
                <li class="text-info">@el.BodyType.Name</li>
                <li class="text-info">@el.DriveType.Name привод</li>
                <li class="text-info">@el.GearBox.Name</li>
            </ul>
        </div>
    </a>
}